{
    "files": [
        "stub.c",
        "../src/dump.c",
        "../src/error.c",
        "../src/hashtable.c",
        "../src/hashtable_seed.c",
        "../src/load.c",
        "../src/memory.c",
        "../src/pack_unpack.c",
        "../src/strbuffer.c",
        "../src/strconv.c",
        "../src/utf.c",
        "../src/value.c",
        "../src/version.c"
    ],
    "filesystem": {
        "files": [
            {
                "name": "/dev/urandom",
                "from": "urandom"
            },
            {
                "name": "test/suites/valid/real-positive-exponent/input",
                "from": "../test/suites/valid/real-positive-exponent/input"
            },
            {
                "name": "test/suites/valid/real-positive-exponent/output",
                "from": "../test/suites/valid/real-positive-exponent/output"
            },
            {
                "name": "test/suites/valid/two-byte-utf-8/input",
                "from": "../test/suites/valid/two-byte-utf-8/input"
            },
            {
                "name": "test/suites/valid/two-byte-utf-8/output",
                "from": "../test/suites/valid/two-byte-utf-8/output"
            },
            {
                "name": "test/suites/valid/real-subnormal-number/input",
                "from": "../test/suites/valid/real-subnormal-number/input"
            },
            {
                "name": "test/suites/valid/real-subnormal-number/output",
                "from": "../test/suites/valid/real-subnormal-number/output"
            },
            {
                "name": "test/suites/valid/simple-int-0/input",
                "from": "../test/suites/valid/simple-int-0/input"
            },
            {
                "name": "test/suites/valid/simple-int-0/output",
                "from": "../test/suites/valid/simple-int-0/output"
            },
            {
                "name": "test/suites/valid/negative-zero/input",
                "from": "../test/suites/valid/negative-zero/input"
            },
            {
                "name": "test/suites/valid/negative-zero/output",
                "from": "../test/suites/valid/negative-zero/output"
            },
            {
                "name": "test/suites/valid/empty-object-in-array/input",
                "from": "../test/suites/valid/empty-object-in-array/input"
            },
            {
                "name": "test/suites/valid/empty-object-in-array/output",
                "from": "../test/suites/valid/empty-object-in-array/output"
            },
            {
                "name": "test/suites/valid/empty-array/input",
                "from": "../test/suites/valid/empty-array/input"
            },
            {
                "name": "test/suites/valid/empty-array/output",
                "from": "../test/suites/valid/empty-array/output"
            },
            {
                "name": "test/suites/valid/real-capital-e-positive-exponent/input",
                "from": "../test/suites/valid/real-capital-e-positive-exponent/input"
            },
            {
                "name": "test/suites/valid/real-capital-e-positive-exponent/output",
                "from": "../test/suites/valid/real-capital-e-positive-exponent/output"
            },
            {
                "name": "test/suites/valid/null/input",
                "from": "../test/suites/valid/null/input"
            },
            {
                "name": "test/suites/valid/null/output",
                "from": "../test/suites/valid/null/output"
            },
            {
                "name": "test/suites/valid/empty-string/input",
                "from": "../test/suites/valid/empty-string/input"
            },
            {
                "name": "test/suites/valid/empty-string/output",
                "from": "../test/suites/valid/empty-string/output"
            },
            {
                "name": "test/suites/valid/simple-real/input",
                "from": "../test/suites/valid/simple-real/input"
            },
            {
                "name": "test/suites/valid/simple-real/output",
                "from": "../test/suites/valid/simple-real/output"
            },
            {
                "name": "test/suites/valid/negative-one/input",
                "from": "../test/suites/valid/negative-one/input"
            },
            {
                "name": "test/suites/valid/negative-one/output",
                "from": "../test/suites/valid/negative-one/output"
            },
            {
                "name": "test/suites/valid/string-escapes/input",
                "from": "../test/suites/valid/string-escapes/input"
            },
            {
                "name": "test/suites/valid/string-escapes/output",
                "from": "../test/suites/valid/string-escapes/output"
            },
            {
                "name": "test/suites/valid/real-exponent/input",
                "from": "../test/suites/valid/real-exponent/input"
            },
            {
                "name": "test/suites/valid/real-exponent/output",
                "from": "../test/suites/valid/real-exponent/output"
            },
            {
                "name": "test/suites/valid/true/input",
                "from": "../test/suites/valid/true/input"
            },
            {
                "name": "test/suites/valid/true/output",
                "from": "../test/suites/valid/true/output"
            },
            {
                "name": "test/suites/valid/one-byte-utf-8/input",
                "from": "../test/suites/valid/one-byte-utf-8/input"
            },
            {
                "name": "test/suites/valid/one-byte-utf-8/output",
                "from": "../test/suites/valid/one-byte-utf-8/output"
            },
            {
                "name": "test/suites/valid/real-negative-exponent/input",
                "from": "../test/suites/valid/real-negative-exponent/input"
            },
            {
                "name": "test/suites/valid/real-negative-exponent/output",
                "from": "../test/suites/valid/real-negative-exponent/output"
            },
            {
                "name": "test/suites/valid/real-capital-e/input",
                "from": "../test/suites/valid/real-capital-e/input"
            },
            {
                "name": "test/suites/valid/real-capital-e/output",
                "from": "../test/suites/valid/real-capital-e/output"
            },
            {
                "name": "test/suites/valid/simple-int-123/input",
                "from": "../test/suites/valid/simple-int-123/input"
            },
            {
                "name": "test/suites/valid/simple-int-123/output",
                "from": "../test/suites/valid/simple-int-123/output"
            },
            {
                "name": "test/suites/valid/utf-surrogate-four-byte-encoding/input",
                "from": "../test/suites/valid/utf-surrogate-four-byte-encoding/input"
            },
            {
                "name": "test/suites/valid/utf-surrogate-four-byte-encoding/output",
                "from": "../test/suites/valid/utf-surrogate-four-byte-encoding/output"
            },
            {
                "name": "test/suites/valid/empty-object/input",
                "from": "../test/suites/valid/empty-object/input"
            },
            {
                "name": "test/suites/valid/empty-object/output",
                "from": "../test/suites/valid/empty-object/output"
            },
            {
                "name": "test/suites/valid/short-string/input",
                "from": "../test/suites/valid/short-string/input"
            },
            {
                "name": "test/suites/valid/short-string/output",
                "from": "../test/suites/valid/short-string/output"
            },
            {
                "name": "test/suites/valid/three-byte-utf-8/input",
                "from": "../test/suites/valid/three-byte-utf-8/input"
            },
            {
                "name": "test/suites/valid/three-byte-utf-8/output",
                "from": "../test/suites/valid/three-byte-utf-8/output"
            },
            {
                "name": "test/suites/valid/simple-ascii-string/input",
                "from": "../test/suites/valid/simple-ascii-string/input"
            },
            {
                "name": "test/suites/valid/simple-ascii-string/output",
                "from": "../test/suites/valid/simple-ascii-string/output"
            },
            {
                "name": "test/suites/valid/real-underflow/input",
                "from": "../test/suites/valid/real-underflow/input"
            },
            {
                "name": "test/suites/valid/real-underflow/output",
                "from": "../test/suites/valid/real-underflow/output"
            },
            {
                "name": "test/suites/valid/escaped-utf-control-char/input",
                "from": "../test/suites/valid/escaped-utf-control-char/input"
            },
            {
                "name": "test/suites/valid/escaped-utf-control-char/output",
                "from": "../test/suites/valid/escaped-utf-control-char/output"
            },
            {
                "name": "test/suites/valid/false/input",
                "from": "../test/suites/valid/false/input"
            },
            {
                "name": "test/suites/valid/false/output",
                "from": "../test/suites/valid/false/output"
            },
            {
                "name": "test/suites/valid/simple-object/input",
                "from": "../test/suites/valid/simple-object/input"
            },
            {
                "name": "test/suites/valid/simple-object/output",
                "from": "../test/suites/valid/simple-object/output"
            },
            {
                "name": "test/suites/valid/negative-int/input",
                "from": "../test/suites/valid/negative-int/input"
            },
            {
                "name": "test/suites/valid/negative-int/output",
                "from": "../test/suites/valid/negative-int/output"
            },
            {
                "name": "test/suites/valid/simple-int-1/input",
                "from": "../test/suites/valid/simple-int-1/input"
            },
            {
                "name": "test/suites/valid/simple-int-1/output",
                "from": "../test/suites/valid/simple-int-1/output"
            },
            {
                "name": "test/suites/valid/complex-array/env",
                "from": "../test/suites/valid/complex-array/env"
            },
            {
                "name": "test/suites/valid/complex-array/input",
                "from": "../test/suites/valid/complex-array/input"
            },
            {
                "name": "test/suites/valid/complex-array/output",
                "from": "../test/suites/valid/complex-array/output"
            },
            {
                "name": "test/suites/valid/real-fraction-exponent/input",
                "from": "../test/suites/valid/real-fraction-exponent/input"
            },
            {
                "name": "test/suites/valid/real-fraction-exponent/output",
                "from": "../test/suites/valid/real-fraction-exponent/output"
            },
            {
                "name": "test/suites/valid/utf-8-string/input",
                "from": "../test/suites/valid/utf-8-string/input"
            },
            {
                "name": "test/suites/valid/utf-8-string/output",
                "from": "../test/suites/valid/utf-8-string/output"
            },
            {
                "name": "test/suites/valid/real-capital-e-negative-exponent/input",
                "from": "../test/suites/valid/real-capital-e-negative-exponent/input"
            },
            {
                "name": "test/suites/valid/real-capital-e-negative-exponent/output",
                "from": "../test/suites/valid/real-capital-e-negative-exponent/output"
            },
            {
                "name": "test/suites/invalid/brace-comma/input",
                "from": "../test/suites/invalid/brace-comma/input"
            },
            {
                "name": "test/suites/invalid/brace-comma/error",
                "from": "../test/suites/invalid/brace-comma/error"
            },
            {
                "name": "test/suites/invalid/garbage-at-the-end/input",
                "from": "../test/suites/invalid/garbage-at-the-end/input"
            },
            {
                "name": "test/suites/invalid/garbage-at-the-end/error",
                "from": "../test/suites/invalid/garbage-at-the-end/error"
            },
            {
                "name": "test/suites/invalid/lone-open-brace/error.strip",
                "from": "../test/suites/invalid/lone-open-brace/error.strip"
            },
            {
                "name": "test/suites/invalid/lone-open-brace/input",
                "from": "../test/suites/invalid/lone-open-brace/input"
            },
            {
                "name": "test/suites/invalid/lone-open-brace/error.normal",
                "from": "../test/suites/invalid/lone-open-brace/error.normal"
            },
            {
                "name": "test/suites/invalid/minus-sign-without-number/input",
                "from": "../test/suites/invalid/minus-sign-without-number/input"
            },
            {
                "name": "test/suites/invalid/minus-sign-without-number/error",
                "from": "../test/suites/invalid/minus-sign-without-number/error"
            },
            {
                "name": "test/suites/invalid/unterminated-array/error.strip",
                "from": "../test/suites/invalid/unterminated-array/error.strip"
            },
            {
                "name": "test/suites/invalid/unterminated-array/input",
                "from": "../test/suites/invalid/unterminated-array/input"
            },
            {
                "name": "test/suites/invalid/unterminated-array/error.normal",
                "from": "../test/suites/invalid/unterminated-array/error.normal"
            },
            {
                "name": "test/suites/invalid/real-positive-overflow/input",
                "from": "../test/suites/invalid/real-positive-overflow/input"
            },
            {
                "name": "test/suites/invalid/real-positive-overflow/error",
                "from": "../test/suites/invalid/real-positive-overflow/error"
            },
            {
                "name": "test/suites/invalid/object-no-colon/error.strip",
                "from": "../test/suites/invalid/object-no-colon/error.strip"
            },
            {
                "name": "test/suites/invalid/object-no-colon/input",
                "from": "../test/suites/invalid/object-no-colon/input"
            },
            {
                "name": "test/suites/invalid/object-no-colon/error.normal",
                "from": "../test/suites/invalid/object-no-colon/error.normal"
            },
            {
                "name": "test/suites/invalid/lone-open-bracket/error.strip",
                "from": "../test/suites/invalid/lone-open-bracket/error.strip"
            },
            {
                "name": "test/suites/invalid/lone-open-bracket/input",
                "from": "../test/suites/invalid/lone-open-bracket/input"
            },
            {
                "name": "test/suites/invalid/lone-open-bracket/error.normal",
                "from": "../test/suites/invalid/lone-open-bracket/error.normal"
            },
            {
                "name": "test/suites/invalid/null-escape-in-string/input",
                "from": "../test/suites/invalid/null-escape-in-string/input"
            },
            {
                "name": "test/suites/invalid/null-escape-in-string/error",
                "from": "../test/suites/invalid/null-escape-in-string/error"
            },
            {
                "name": "test/suites/invalid/bracket-comma/input",
                "from": "../test/suites/invalid/bracket-comma/input"
            },
            {
                "name": "test/suites/invalid/bracket-comma/error",
                "from": "../test/suites/invalid/bracket-comma/error"
            },
            {
                "name": "test/suites/invalid/integer-starting-with-zero/input",
                "from": "../test/suites/invalid/integer-starting-with-zero/input"
            },
            {
                "name": "test/suites/invalid/integer-starting-with-zero/error",
                "from": "../test/suites/invalid/integer-starting-with-zero/error"
            },
            {
                "name": "test/suites/invalid/unterminated-array-and-object/error.strip",
                "from": "../test/suites/invalid/unterminated-array-and-object/error.strip"
            },
            {
                "name": "test/suites/invalid/unterminated-array-and-object/input",
                "from": "../test/suites/invalid/unterminated-array-and-object/input"
            },
            {
                "name": "test/suites/invalid/unterminated-array-and-object/error.normal",
                "from": "../test/suites/invalid/unterminated-array-and-object/error.normal"
            },
            {
                "name": "test/suites/invalid/real-negative-overflow/input",
                "from": "../test/suites/invalid/real-negative-overflow/input"
            },
            {
                "name": "test/suites/invalid/real-negative-overflow/error",
                "from": "../test/suites/invalid/real-negative-overflow/error"
            },
            {
                "name": "test/suites/invalid/unterminated-object-and-array/input",
                "from": "../test/suites/invalid/unterminated-object-and-array/input"
            },
            {
                "name": "test/suites/invalid/unterminated-object-and-array/error",
                "from": "../test/suites/invalid/unterminated-object-and-array/error"
            },
            {
                "name": "test/suites/invalid/extra-comma-in-array/input",
                "from": "../test/suites/invalid/extra-comma-in-array/input"
            },
            {
                "name": "test/suites/invalid/extra-comma-in-array/error",
                "from": "../test/suites/invalid/extra-comma-in-array/error"
            },
            {
                "name": "test/suites/invalid/null-byte-in-string/nostrip",
                "from": "../test/suites/invalid/null-byte-in-string/nostrip"
            },
            {
                "name": "test/suites/invalid/null-byte-in-string/input",
                "from": "../test/suites/invalid/null-byte-in-string/input"
            },
            {
                "name": "test/suites/invalid/null-byte-in-string/error",
                "from": "../test/suites/invalid/null-byte-in-string/error"
            },
            {
                "name": "test/suites/invalid/null/input",
                "from": "../test/suites/invalid/null/input"
            },
            {
                "name": "test/suites/invalid/null/error",
                "from": "../test/suites/invalid/null/error"
            },
            {
                "name": "test/suites/invalid/invalid-second-surrogate/input",
                "from": "../test/suites/invalid/invalid-second-surrogate/input"
            },
            {
                "name": "test/suites/invalid/invalid-second-surrogate/error",
                "from": "../test/suites/invalid/invalid-second-surrogate/error"
            },
            {
                "name": "test/suites/invalid/extra-comma-in-multiline-array/input",
                "from": "../test/suites/invalid/extra-comma-in-multiline-array/input"
            },
            {
                "name": "test/suites/invalid/extra-comma-in-multiline-array/error",
                "from": "../test/suites/invalid/extra-comma-in-multiline-array/error"
            },
            {
                "name": "test/suites/invalid/lone-second-surrogate/input",
                "from": "../test/suites/invalid/lone-second-surrogate/input"
            },
            {
                "name": "test/suites/invalid/lone-second-surrogate/error",
                "from": "../test/suites/invalid/lone-second-surrogate/error"
            },
            {
                "name": "test/suites/invalid/real-truncated-at-e/input",
                "from": "../test/suites/invalid/real-truncated-at-e/input"
            },
            {
                "name": "test/suites/invalid/real-truncated-at-e/error",
                "from": "../test/suites/invalid/real-truncated-at-e/error"
            },
            {
                "name": "test/suites/invalid/real-truncated-at-point/input",
                "from": "../test/suites/invalid/real-truncated-at-point/input"
            },
            {
                "name": "test/suites/invalid/real-truncated-at-point/error",
                "from": "../test/suites/invalid/real-truncated-at-point/error"
            },
            {
                "name": "test/suites/invalid/too-big-positive-integer/input",
                "from": "../test/suites/invalid/too-big-positive-integer/input"
            },
            {
                "name": "test/suites/invalid/too-big-positive-integer/error",
                "from": "../test/suites/invalid/too-big-positive-integer/error"
            },
            {
                "name": "test/suites/invalid/ascii-unicode-identifier/input",
                "from": "../test/suites/invalid/ascii-unicode-identifier/input"
            },
            {
                "name": "test/suites/invalid/ascii-unicode-identifier/error",
                "from": "../test/suites/invalid/ascii-unicode-identifier/error"
            },
            {
                "name": "test/suites/invalid/too-big-negative-integer/input",
                "from": "../test/suites/invalid/too-big-negative-integer/input"
            },
            {
                "name": "test/suites/invalid/too-big-negative-integer/error",
                "from": "../test/suites/invalid/too-big-negative-integer/error"
            },
            {
                "name": "test/suites/invalid/null-byte-outside-string/nostrip",
                "from": "../test/suites/invalid/null-byte-outside-string/nostrip"
            },
            {
                "name": "test/suites/invalid/null-byte-outside-string/input",
                "from": "../test/suites/invalid/null-byte-outside-string/input"
            },
            {
                "name": "test/suites/invalid/null-byte-outside-string/error",
                "from": "../test/suites/invalid/null-byte-outside-string/error"
            },
            {
                "name": "test/suites/invalid/tab-character-in-string/input",
                "from": "../test/suites/invalid/tab-character-in-string/input"
            },
            {
                "name": "test/suites/invalid/tab-character-in-string/error",
                "from": "../test/suites/invalid/tab-character-in-string/error"
            },
            {
                "name": "test/suites/invalid/bracket-one-comma/error.strip",
                "from": "../test/suites/invalid/bracket-one-comma/error.strip"
            },
            {
                "name": "test/suites/invalid/bracket-one-comma/input",
                "from": "../test/suites/invalid/bracket-one-comma/input"
            },
            {
                "name": "test/suites/invalid/bracket-one-comma/error.normal",
                "from": "../test/suites/invalid/bracket-one-comma/error.normal"
            },
            {
                "name": "test/suites/invalid/object-apostrophes/input",
                "from": "../test/suites/invalid/object-apostrophes/input"
            },
            {
                "name": "test/suites/invalid/object-apostrophes/error",
                "from": "../test/suites/invalid/object-apostrophes/error"
            },
            {
                "name": "test/suites/invalid/invalid-unicode-escape/input",
                "from": "../test/suites/invalid/invalid-unicode-escape/input"
            },
            {
                "name": "test/suites/invalid/invalid-unicode-escape/error",
                "from": "../test/suites/invalid/invalid-unicode-escape/error"
            },
            {
                "name": "test/suites/invalid/invalid-negative-integer/input",
                "from": "../test/suites/invalid/invalid-negative-integer/input"
            },
            {
                "name": "test/suites/invalid/invalid-negative-integer/error",
                "from": "../test/suites/invalid/invalid-negative-integer/error"
            },
            {
                "name": "test/suites/invalid/unicode-identifier/input",
                "from": "../test/suites/invalid/unicode-identifier/input"
            },
            {
                "name": "test/suites/invalid/unicode-identifier/error",
                "from": "../test/suites/invalid/unicode-identifier/error"
            },
            {
                "name": "test/suites/invalid/truncated-unicode-surrogate/input",
                "from": "../test/suites/invalid/truncated-unicode-surrogate/input"
            },
            {
                "name": "test/suites/invalid/truncated-unicode-surrogate/error",
                "from": "../test/suites/invalid/truncated-unicode-surrogate/error"
            },
            {
                "name": "test/suites/invalid/object-no-value/error.strip",
                "from": "../test/suites/invalid/object-no-value/error.strip"
            },
            {
                "name": "test/suites/invalid/object-no-value/input",
                "from": "../test/suites/invalid/object-no-value/input"
            },
            {
                "name": "test/suites/invalid/object-no-value/error.normal",
                "from": "../test/suites/invalid/object-no-value/error.normal"
            },
            {
                "name": "test/suites/invalid/null-byte-in-object-key/input",
                "from": "../test/suites/invalid/null-byte-in-object-key/input"
            },
            {
                "name": "test/suites/invalid/null-byte-in-object-key/error",
                "from": "../test/suites/invalid/null-byte-in-object-key/error"
            },
            {
                "name": "test/suites/invalid/object-garbage-at-end/input",
                "from": "../test/suites/invalid/object-garbage-at-end/input"
            },
            {
                "name": "test/suites/invalid/object-garbage-at-end/error",
                "from": "../test/suites/invalid/object-garbage-at-end/error"
            },
            {
                "name": "test/suites/invalid/invalid-negative-real/input",
                "from": "../test/suites/invalid/invalid-negative-real/input"
            },
            {
                "name": "test/suites/invalid/invalid-negative-real/error",
                "from": "../test/suites/invalid/invalid-negative-real/error"
            },
            {
                "name": "test/suites/invalid/object-unterminated-value/error.strip",
                "from": "../test/suites/invalid/object-unterminated-value/error.strip"
            },
            {
                "name": "test/suites/invalid/object-unterminated-value/input",
                "from": "../test/suites/invalid/object-unterminated-value/input"
            },
            {
                "name": "test/suites/invalid/object-unterminated-value/error.normal",
                "from": "../test/suites/invalid/object-unterminated-value/error.normal"
            },
            {
                "name": "test/suites/invalid/apostrophe/input",
                "from": "../test/suites/invalid/apostrophe/input"
            },
            {
                "name": "test/suites/invalid/apostrophe/error",
                "from": "../test/suites/invalid/apostrophe/error"
            },
            {
                "name": "test/suites/invalid/garbage-after-newline/input",
                "from": "../test/suites/invalid/garbage-after-newline/input"
            },
            {
                "name": "test/suites/invalid/garbage-after-newline/error",
                "from": "../test/suites/invalid/garbage-after-newline/error"
            },
            {
                "name": "test/suites/invalid/unterminated-string/error.strip",
                "from": "../test/suites/invalid/unterminated-string/error.strip"
            },
            {
                "name": "test/suites/invalid/unterminated-string/input",
                "from": "../test/suites/invalid/unterminated-string/input"
            },
            {
                "name": "test/suites/invalid/unterminated-string/error.normal",
                "from": "../test/suites/invalid/unterminated-string/error.normal"
            },
            {
                "name": "test/suites/invalid/empty/input",
                "from": "../test/suites/invalid/empty/input"
            },
            {
                "name": "test/suites/invalid/empty/error",
                "from": "../test/suites/invalid/empty/error"
            },
            {
                "name": "test/suites/invalid/unterminated-empty-key/error.strip",
                "from": "../test/suites/invalid/unterminated-empty-key/error.strip"
            },
            {
                "name": "test/suites/invalid/unterminated-empty-key/input",
                "from": "../test/suites/invalid/unterminated-empty-key/input"
            },
            {
                "name": "test/suites/invalid/unterminated-empty-key/error.normal",
                "from": "../test/suites/invalid/unterminated-empty-key/error.normal"
            },
            {
                "name": "test/suites/invalid/negative-integer-starting-with-zero/input",
                "from": "../test/suites/invalid/negative-integer-starting-with-zero/input"
            },
            {
                "name": "test/suites/invalid/negative-integer-starting-with-zero/error",
                "from": "../test/suites/invalid/negative-integer-starting-with-zero/error"
            },
            {
                "name": "test/suites/invalid/invalid-identifier/input",
                "from": "../test/suites/invalid/invalid-identifier/input"
            },
            {
                "name": "test/suites/invalid/invalid-identifier/error",
                "from": "../test/suites/invalid/invalid-identifier/error"
            },
            {
                "name": "test/suites/invalid/object-in-unterminated-array/error.strip",
                "from": "../test/suites/invalid/object-in-unterminated-array/error.strip"
            },
            {
                "name": "test/suites/invalid/object-in-unterminated-array/input",
                "from": "../test/suites/invalid/object-in-unterminated-array/input"
            },
            {
                "name": "test/suites/invalid/object-in-unterminated-array/error.normal",
                "from": "../test/suites/invalid/object-in-unterminated-array/error.normal"
            },
            {
                "name": "test/suites/invalid/recursion-depth/input",
                "from": "../test/suites/invalid/recursion-depth/input"
            },
            {
                "name": "test/suites/invalid/recursion-depth/error",
                "from": "../test/suites/invalid/recursion-depth/error"
            },
            {
                "name": "test/suites/invalid/unterminated-key/error.strip",
                "from": "../test/suites/invalid/unterminated-key/error.strip"
            },
            {
                "name": "test/suites/invalid/unterminated-key/input",
                "from": "../test/suites/invalid/unterminated-key/input"
            },
            {
                "name": "test/suites/invalid/unterminated-key/error.normal",
                "from": "../test/suites/invalid/unterminated-key/error.normal"
            },
            {
                "name": "test/suites/invalid/real-garbage-after-e/input",
                "from": "../test/suites/invalid/real-garbage-after-e/input"
            },
            {
                "name": "test/suites/invalid/real-garbage-after-e/error",
                "from": "../test/suites/invalid/real-garbage-after-e/error"
            },
            {
                "name": "test/suites/invalid/invalid-escape/input",
                "from": "../test/suites/invalid/invalid-escape/input"
            },
            {
                "name": "test/suites/invalid/invalid-escape/error",
                "from": "../test/suites/invalid/invalid-escape/error"
            },
            {
                "name": "test/suites/invalid-unicode/overlong-ascii-encoding/input",
                "from": "../test/suites/invalid-unicode/overlong-ascii-encoding/input"
            },
            {
                "name": "test/suites/invalid-unicode/overlong-ascii-encoding/error",
                "from": "../test/suites/invalid-unicode/overlong-ascii-encoding/error"
            },
            {
                "name": "test/suites/invalid-unicode/lone-utf-8-continuation-byte/input",
                "from": "../test/suites/invalid-unicode/lone-utf-8-continuation-byte/input"
            },
            {
                "name": "test/suites/invalid-unicode/lone-utf-8-continuation-byte/error",
                "from": "../test/suites/invalid-unicode/lone-utf-8-continuation-byte/error"
            },
            {
                "name": "test/suites/invalid-unicode/lone-invalid-utf-8/input",
                "from": "../test/suites/invalid-unicode/lone-invalid-utf-8/input"
            },
            {
                "name": "test/suites/invalid-unicode/lone-invalid-utf-8/error",
                "from": "../test/suites/invalid-unicode/lone-invalid-utf-8/error"
            },
            {
                "name": "test/suites/invalid-unicode/invalid-utf-8-in-int/input",
                "from": "../test/suites/invalid-unicode/invalid-utf-8-in-int/input"
            },
            {
                "name": "test/suites/invalid-unicode/invalid-utf-8-in-int/error",
                "from": "../test/suites/invalid-unicode/invalid-utf-8-in-int/error"
            },
            {
                "name": "test/suites/invalid-unicode/invalid-utf-8-in-real-after-e/input",
                "from": "../test/suites/invalid-unicode/invalid-utf-8-in-real-after-e/input"
            },
            {
                "name": "test/suites/invalid-unicode/invalid-utf-8-in-real-after-e/error",
                "from": "../test/suites/invalid-unicode/invalid-utf-8-in-real-after-e/error"
            },
            {
                "name": "test/suites/invalid-unicode/overlong-3-byte-encoding/input",
                "from": "../test/suites/invalid-unicode/overlong-3-byte-encoding/input"
            },
            {
                "name": "test/suites/invalid-unicode/overlong-3-byte-encoding/error",
                "from": "../test/suites/invalid-unicode/overlong-3-byte-encoding/error"
            },
            {
                "name": "test/suites/invalid-unicode/invalid-utf-8-in-escape/input",
                "from": "../test/suites/invalid-unicode/invalid-utf-8-in-escape/input"
            },
            {
                "name": "test/suites/invalid-unicode/invalid-utf-8-in-escape/error",
                "from": "../test/suites/invalid-unicode/invalid-utf-8-in-escape/error"
            },
            {
                "name": "test/suites/invalid-unicode/encoded-surrogate-half/input",
                "from": "../test/suites/invalid-unicode/encoded-surrogate-half/input"
            },
            {
                "name": "test/suites/invalid-unicode/encoded-surrogate-half/error",
                "from": "../test/suites/invalid-unicode/encoded-surrogate-half/error"
            },
            {
                "name": "test/suites/invalid-unicode/invalid-utf-8-in-bigger-int/input",
                "from": "../test/suites/invalid-unicode/invalid-utf-8-in-bigger-int/input"
            },
            {
                "name": "test/suites/invalid-unicode/invalid-utf-8-in-bigger-int/error",
                "from": "../test/suites/invalid-unicode/invalid-utf-8-in-bigger-int/error"
            },
            {
                "name": "test/suites/invalid-unicode/overlong-4-byte-encoding/input",
                "from": "../test/suites/invalid-unicode/overlong-4-byte-encoding/input"
            },
            {
                "name": "test/suites/invalid-unicode/overlong-4-byte-encoding/error",
                "from": "../test/suites/invalid-unicode/overlong-4-byte-encoding/error"
            },
            {
                "name": "test/suites/invalid-unicode/invalid-utf-8-in-array/input",
                "from": "../test/suites/invalid-unicode/invalid-utf-8-in-array/input"
            },
            {
                "name": "test/suites/invalid-unicode/invalid-utf-8-in-array/error",
                "from": "../test/suites/invalid-unicode/invalid-utf-8-in-array/error"
            },
            {
                "name": "test/suites/invalid-unicode/invalid-utf-8-in-string/input",
                "from": "../test/suites/invalid-unicode/invalid-utf-8-in-string/input"
            },
            {
                "name": "test/suites/invalid-unicode/invalid-utf-8-in-string/error",
                "from": "../test/suites/invalid-unicode/invalid-utf-8-in-string/error"
            },
            {
                "name": "test/suites/invalid-unicode/invalid-utf-8-in-identifier/input",
                "from": "../test/suites/invalid-unicode/invalid-utf-8-in-identifier/input"
            },
            {
                "name": "test/suites/invalid-unicode/invalid-utf-8-in-identifier/error",
                "from": "../test/suites/invalid-unicode/invalid-utf-8-in-identifier/error"
            },
            {
                "name": "test/suites/invalid-unicode/not-in-unicode-range/input",
                "from": "../test/suites/invalid-unicode/not-in-unicode-range/input"
            },
            {
                "name": "test/suites/invalid-unicode/not-in-unicode-range/error",
                "from": "../test/suites/invalid-unicode/not-in-unicode-range/error"
            },
            {
                "name": "test/suites/invalid-unicode/truncated-utf-8/input",
                "from": "../test/suites/invalid-unicode/truncated-utf-8/input"
            },
            {
                "name": "test/suites/invalid-unicode/truncated-utf-8/error",
                "from": "../test/suites/invalid-unicode/truncated-utf-8/error"
            },
            {
                "name": "test/suites/invalid-unicode/invalid-utf-8-in-exponent/input",
                "from": "../test/suites/invalid-unicode/invalid-utf-8-in-exponent/input"
            },
            {
                "name": "test/suites/invalid-unicode/invalid-utf-8-in-exponent/error",
                "from": "../test/suites/invalid-unicode/invalid-utf-8-in-exponent/error"
            },
            {
                "name": "test/suites/invalid-unicode/invalid-utf-8-after-backslash/input",
                "from": "../test/suites/invalid-unicode/invalid-utf-8-after-backslash/input"
            },
            {
                "name": "test/suites/invalid-unicode/invalid-utf-8-after-backslash/error",
                "from": "../test/suites/invalid-unicode/invalid-utf-8-after-backslash/error"
            },
            {
                "name": "test/suites/invalid-unicode/restricted-utf-8/input",
                "from": "../test/suites/invalid-unicode/restricted-utf-8/input"
            },
            {
                "name": "test/suites/invalid-unicode/restricted-utf-8/error",
                "from": "../test/suites/invalid-unicode/restricted-utf-8/error"
            },
            {
                "name": "test/suites/encoding-flags/indent-compact-array/env",
                "from": "../test/suites/encoding-flags/indent-compact-array/env"
            },
            {
                "name": "test/suites/encoding-flags/indent-compact-array/input",
                "from": "../test/suites/encoding-flags/indent-compact-array/input"
            },
            {
                "name": "test/suites/encoding-flags/indent-compact-array/output",
                "from": "../test/suites/encoding-flags/indent-compact-array/output"
            },
            {
                "name": "test/suites/encoding-flags/array/input",
                "from": "../test/suites/encoding-flags/array/input"
            },
            {
                "name": "test/suites/encoding-flags/array/output",
                "from": "../test/suites/encoding-flags/array/output"
            },
            {
                "name": "test/suites/encoding-flags/indent-array/env",
                "from": "../test/suites/encoding-flags/indent-array/env"
            },
            {
                "name": "test/suites/encoding-flags/indent-array/input",
                "from": "../test/suites/encoding-flags/indent-array/input"
            },
            {
                "name": "test/suites/encoding-flags/indent-array/output",
                "from": "../test/suites/encoding-flags/indent-array/output"
            },
            {
                "name": "test/suites/encoding-flags/compact-object/env",
                "from": "../test/suites/encoding-flags/compact-object/env"
            },
            {
                "name": "test/suites/encoding-flags/compact-object/input",
                "from": "../test/suites/encoding-flags/compact-object/input"
            },
            {
                "name": "test/suites/encoding-flags/compact-object/output",
                "from": "../test/suites/encoding-flags/compact-object/output"
            },
            {
                "name": "test/suites/encoding-flags/real-precision/env",
                "from": "../test/suites/encoding-flags/real-precision/env"
            },
            {
                "name": "test/suites/encoding-flags/real-precision/input",
                "from": "../test/suites/encoding-flags/real-precision/input"
            },
            {
                "name": "test/suites/encoding-flags/real-precision/output",
                "from": "../test/suites/encoding-flags/real-precision/output"
            },
            {
                "name": "test/suites/encoding-flags/compact-array/env",
                "from": "../test/suites/encoding-flags/compact-array/env"
            },
            {
                "name": "test/suites/encoding-flags/compact-array/input",
                "from": "../test/suites/encoding-flags/compact-array/input"
            },
            {
                "name": "test/suites/encoding-flags/compact-array/output",
                "from": "../test/suites/encoding-flags/compact-array/output"
            },
            {
                "name": "test/suites/encoding-flags/indent-compact-object/env",
                "from": "../test/suites/encoding-flags/indent-compact-object/env"
            },
            {
                "name": "test/suites/encoding-flags/indent-compact-object/input",
                "from": "../test/suites/encoding-flags/indent-compact-object/input"
            },
            {
                "name": "test/suites/encoding-flags/indent-compact-object/output",
                "from": "../test/suites/encoding-flags/indent-compact-object/output"
            },
            {
                "name": "test/suites/encoding-flags/sort-keys/env",
                "from": "../test/suites/encoding-flags/sort-keys/env"
            },
            {
                "name": "test/suites/encoding-flags/sort-keys/input",
                "from": "../test/suites/encoding-flags/sort-keys/input"
            },
            {
                "name": "test/suites/encoding-flags/sort-keys/output",
                "from": "../test/suites/encoding-flags/sort-keys/output"
            },
            {
                "name": "test/suites/encoding-flags/ensure-ascii/env",
                "from": "../test/suites/encoding-flags/ensure-ascii/env"
            },
            {
                "name": "test/suites/encoding-flags/ensure-ascii/input",
                "from": "../test/suites/encoding-flags/ensure-ascii/input"
            },
            {
                "name": "test/suites/encoding-flags/ensure-ascii/output",
                "from": "../test/suites/encoding-flags/ensure-ascii/output"
            },
            {
                "name": "test/suites/encoding-flags/indent-object/env",
                "from": "../test/suites/encoding-flags/indent-object/env"
            },
            {
                "name": "test/suites/encoding-flags/indent-object/input",
                "from": "../test/suites/encoding-flags/indent-object/input"
            },
            {
                "name": "test/suites/encoding-flags/indent-object/output",
                "from": "../test/suites/encoding-flags/indent-object/output"
            },
            {
                "name": "test/suites/encoding-flags/object/env",
                "from": "../test/suites/encoding-flags/object/env"
            },
            {
                "name": "test/suites/encoding-flags/object/input",
                "from": "../test/suites/encoding-flags/object/input"
            },
            {
                "name": "test/suites/encoding-flags/object/output",
                "from": "../test/suites/encoding-flags/object/output"
            },
            {
                "name": "test/suites/encoding-flags/preserve-order/env",
                "from": "../test/suites/encoding-flags/preserve-order/env"
            },
            {
                "name": "test/suites/encoding-flags/preserve-order/input",
                "from": "../test/suites/encoding-flags/preserve-order/input"
            },
            {
                "name": "test/suites/encoding-flags/preserve-order/output",
                "from": "../test/suites/encoding-flags/preserve-order/output"
            }
        ]
    },
    "compilation_cmd": "-I.. -I../src -Iinclude -Iinclude/src -Dvolatile= -DHAVE_STDINT_H -DHAVE_UNISTD_H -DNO_MASKING_TRICK -D__TIS_MKFS_INO_MAX=400",
    "val-clone-on-recursive-calls": true,
    "val-warn-harmless-function-pointers": false
}