{
    "files": [
        "stub.c",
        "../src/dump.c",
        "../src/error.c",
        "../src/hashtable_seed.c",
        "../src/hashtable.c",
        "../src/load.c",
        "../src/memory.c",
        "../src/pack_unpack.c",
        "../src/strbuffer.c",
        "../src/strconv.c",
        "../src/utf.c",
        "../src/value.c",
        "../src/version.c"
    ],
    "filesystem": {
        "files": [
            {
                "name": "/dev/urandom",
                "from": "urandom"
            }
        ]
    },
    "compilation_cmd": "-I.. -I../src -Iinclude -Iinclude/src -Dvolatile= -DHAVE_STDINT_H -DHAVE_UNISTD_H -DNO_MASKING_TRICK",
    "val-clone-on-recursive-calls": true,
    "val-warn-harmless-function-pointers": false
}