{
    "files": [
        "trustinsoft/stub.c",
        "src/dump.c",
        "src/error.c",
        "src/hashtable_seed.c",
        "src/hashtable.c",
        "src/load.c",
        "src/memory.c",
        "src/pack_unpack.c",
        "src/strbuffer.c",
        "src/strconv.c",
        "src/utf.c",
        "src/value.c",
        "src/version.c"
    ],
    "filesystem": {
        "system_errors": false,
        "files": [
            {
                "name": "/dev/urandom",
                "from": "trustinsoft/urandom"
            }
        ]
    },
    "compilation_cmd": "-I. -Isrc -Dvolatile= -DHAVE_STDINT_H -DHAVE_UNISTD_H -DNO_MASKING_TRICK",
    "machdep": "gcc_x86_64",
    "address-alignment": 64,
    "val-clone-on-recursive-calls": true,
    "val-warn-harmless-function-pointers": false
}
