[
    {
        "name": "test/suites/valid/empty-array, little endian 32-bit (x86)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_x86_32.config",
        "files": [
            "test/bin/json_process.c"
        ],
        "val-args": " test/suites/valid/empty-array"
    },
    {
        "name": "test/suites/valid/empty-array, little endian 64-bit (x86)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_x86_64.config",
        "files": [
            "test/bin/json_process.c"
        ],
        "val-args": " test/suites/valid/empty-array"
    },
    {
        "name": "test/suites/valid/empty-array, big endian 32-bit (PPC32)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_ppc_32.config",
        "files": [
            "test/bin/json_process.c"
        ],
        "val-args": " test/suites/valid/empty-array"
    },
    {
        "name": "test/suites/valid/empty-array, big endian 64-bit (PPC64)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_ppc_64.config",
        "files": [
            "test/bin/json_process.c"
        ],
        "val-args": " test/suites/valid/empty-array"
    },
    {
        "name": "test/suites/api/test_array.c, little endian 32-bit (x86)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_x86_32.config",
        "files": [
            "test/suites/api/test_array.c"
        ]
    },
    {
        "name": "test/suites/api/test_array.c, little endian 64-bit (x86)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_x86_64.config",
        "files": [
            "test/suites/api/test_array.c"
        ]
    },
    {
        "name": "test/suites/api/test_array.c, big endian 32-bit (PPC32)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_ppc_32.config",
        "files": [
            "test/suites/api/test_array.c"
        ]
    },
    {
        "name": "test/suites/api/test_array.c, big endian 64-bit (PPC64)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_ppc_64.config",
        "files": [
            "test/suites/api/test_array.c"
        ]
    },
    {
        "name": "test/suites/api/test_chaos.c, little endian 32-bit (x86)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_x86_32.config",
        "files": [
            "test/suites/api/test_chaos.c"
        ]
    },
    {
        "name": "test/suites/api/test_chaos.c, little endian 64-bit (x86)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_x86_64.config",
        "files": [
            "test/suites/api/test_chaos.c"
        ]
    },
    {
        "name": "test/suites/api/test_chaos.c, big endian 32-bit (PPC32)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_ppc_32.config",
        "files": [
            "test/suites/api/test_chaos.c"
        ]
    },
    {
        "name": "test/suites/api/test_chaos.c, big endian 64-bit (PPC64)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_ppc_64.config",
        "files": [
            "test/suites/api/test_chaos.c"
        ]
    },
    {
        "name": "test/suites/api/test_copy.c, little endian 32-bit (x86)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_x86_32.config",
        "files": [
            "test/suites/api/test_copy.c"
        ]
    },
    {
        "name": "test/suites/api/test_copy.c, little endian 64-bit (x86)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_x86_64.config",
        "files": [
            "test/suites/api/test_copy.c"
        ]
    },
    {
        "name": "test/suites/api/test_copy.c, big endian 32-bit (PPC32)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_ppc_32.config",
        "files": [
            "test/suites/api/test_copy.c"
        ]
    },
    {
        "name": "test/suites/api/test_copy.c, big endian 64-bit (PPC64)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_ppc_64.config",
        "files": [
            "test/suites/api/test_copy.c"
        ]
    },
    {
        "name": "test/suites/api/test_dump.c, little endian 32-bit (x86)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_x86_32.config",
        "files": [
            "test/suites/api/test_dump.c"
        ]
    },
    {
        "name": "test/suites/api/test_dump.c, little endian 64-bit (x86)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_x86_64.config",
        "files": [
            "test/suites/api/test_dump.c"
        ]
    },
    {
        "name": "test/suites/api/test_dump.c, big endian 32-bit (PPC32)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_ppc_32.config",
        "files": [
            "test/suites/api/test_dump.c"
        ]
    },
    {
        "name": "test/suites/api/test_dump.c, big endian 64-bit (PPC64)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_ppc_64.config",
        "files": [
            "test/suites/api/test_dump.c"
        ]
    },
    {
        "name": "test/suites/api/test_dump_callback.c, little endian 32-bit (x86)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_x86_32.config",
        "files": [
            "test/suites/api/test_dump_callback.c"
        ]
    },
    {
        "name": "test/suites/api/test_dump_callback.c, little endian 64-bit (x86)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_x86_64.config",
        "files": [
            "test/suites/api/test_dump_callback.c"
        ]
    },
    {
        "name": "test/suites/api/test_dump_callback.c, big endian 32-bit (PPC32)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_ppc_32.config",
        "files": [
            "test/suites/api/test_dump_callback.c"
        ]
    },
    {
        "name": "test/suites/api/test_dump_callback.c, big endian 64-bit (PPC64)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_ppc_64.config",
        "files": [
            "test/suites/api/test_dump_callback.c"
        ]
    },
    {
        "name": "test/suites/api/test_equal.c, little endian 32-bit (x86)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_x86_32.config",
        "files": [
            "test/suites/api/test_equal.c"
        ]
    },
    {
        "name": "test/suites/api/test_equal.c, little endian 64-bit (x86)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_x86_64.config",
        "files": [
            "test/suites/api/test_equal.c"
        ]
    },
    {
        "name": "test/suites/api/test_equal.c, big endian 32-bit (PPC32)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_ppc_32.config",
        "files": [
            "test/suites/api/test_equal.c"
        ]
    },
    {
        "name": "test/suites/api/test_equal.c, big endian 64-bit (PPC64)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_ppc_64.config",
        "files": [
            "test/suites/api/test_equal.c"
        ]
    },
    {
        "name": "test/suites/api/test_fixed_size.c, little endian 32-bit (x86)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_x86_32.config",
        "files": [
            "test/suites/api/test_fixed_size.c"
        ]
    },
    {
        "name": "test/suites/api/test_fixed_size.c, little endian 64-bit (x86)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_x86_64.config",
        "files": [
            "test/suites/api/test_fixed_size.c"
        ]
    },
    {
        "name": "test/suites/api/test_fixed_size.c, big endian 32-bit (PPC32)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_ppc_32.config",
        "files": [
            "test/suites/api/test_fixed_size.c"
        ]
    },
    {
        "name": "test/suites/api/test_fixed_size.c, big endian 64-bit (PPC64)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_ppc_64.config",
        "files": [
            "test/suites/api/test_fixed_size.c"
        ]
    },
    {
        "name": "test/suites/api/test_load.c, little endian 32-bit (x86)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_x86_32.config",
        "files": [
            "test/suites/api/test_load.c"
        ]
    },
    {
        "name": "test/suites/api/test_load.c, little endian 64-bit (x86)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_x86_64.config",
        "files": [
            "test/suites/api/test_load.c"
        ]
    },
    {
        "name": "test/suites/api/test_load.c, big endian 32-bit (PPC32)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_ppc_32.config",
        "files": [
            "test/suites/api/test_load.c"
        ]
    },
    {
        "name": "test/suites/api/test_load.c, big endian 64-bit (PPC64)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_ppc_64.config",
        "files": [
            "test/suites/api/test_load.c"
        ]
    },
    {
        "name": "test/suites/api/test_load_callback.c, little endian 32-bit (x86)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_x86_32.config",
        "files": [
            "test/suites/api/test_load_callback.c"
        ]
    },
    {
        "name": "test/suites/api/test_load_callback.c, little endian 64-bit (x86)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_x86_64.config",
        "files": [
            "test/suites/api/test_load_callback.c"
        ]
    },
    {
        "name": "test/suites/api/test_load_callback.c, big endian 32-bit (PPC32)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_ppc_32.config",
        "files": [
            "test/suites/api/test_load_callback.c"
        ]
    },
    {
        "name": "test/suites/api/test_load_callback.c, big endian 64-bit (PPC64)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_ppc_64.config",
        "files": [
            "test/suites/api/test_load_callback.c"
        ]
    },
    {
        "name": "test/suites/api/test_loadb.c, little endian 32-bit (x86)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_x86_32.config",
        "files": [
            "test/suites/api/test_loadb.c"
        ]
    },
    {
        "name": "test/suites/api/test_loadb.c, little endian 64-bit (x86)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_x86_64.config",
        "files": [
            "test/suites/api/test_loadb.c"
        ]
    },
    {
        "name": "test/suites/api/test_loadb.c, big endian 32-bit (PPC32)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_ppc_32.config",
        "files": [
            "test/suites/api/test_loadb.c"
        ]
    },
    {
        "name": "test/suites/api/test_loadb.c, big endian 64-bit (PPC64)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_ppc_64.config",
        "files": [
            "test/suites/api/test_loadb.c"
        ]
    },
    {
        "name": "test/suites/api/test_memory_funcs.c, little endian 32-bit (x86)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_x86_32.config",
        "files": [
            "test/suites/api/test_memory_funcs.c"
        ]
    },
    {
        "name": "test/suites/api/test_memory_funcs.c, little endian 64-bit (x86)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_x86_64.config",
        "files": [
            "test/suites/api/test_memory_funcs.c"
        ]
    },
    {
        "name": "test/suites/api/test_memory_funcs.c, big endian 32-bit (PPC32)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_ppc_32.config",
        "files": [
            "test/suites/api/test_memory_funcs.c"
        ]
    },
    {
        "name": "test/suites/api/test_memory_funcs.c, big endian 64-bit (PPC64)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_ppc_64.config",
        "files": [
            "test/suites/api/test_memory_funcs.c"
        ]
    },
    {
        "name": "test/suites/api/test_number.c, little endian 32-bit (x86)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_x86_32.config",
        "files": [
            "test/suites/api/test_number.c"
        ]
    },
    {
        "name": "test/suites/api/test_number.c, little endian 64-bit (x86)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_x86_64.config",
        "files": [
            "test/suites/api/test_number.c"
        ]
    },
    {
        "name": "test/suites/api/test_number.c, big endian 32-bit (PPC32)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_ppc_32.config",
        "files": [
            "test/suites/api/test_number.c"
        ]
    },
    {
        "name": "test/suites/api/test_number.c, big endian 64-bit (PPC64)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_ppc_64.config",
        "files": [
            "test/suites/api/test_number.c"
        ]
    },
    {
        "name": "test/suites/api/test_object.c, little endian 32-bit (x86)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_x86_32.config",
        "files": [
            "test/suites/api/test_object.c"
        ]
    },
    {
        "name": "test/suites/api/test_object.c, little endian 64-bit (x86)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_x86_64.config",
        "files": [
            "test/suites/api/test_object.c"
        ]
    },
    {
        "name": "test/suites/api/test_object.c, big endian 32-bit (PPC32)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_ppc_32.config",
        "files": [
            "test/suites/api/test_object.c"
        ]
    },
    {
        "name": "test/suites/api/test_object.c, big endian 64-bit (PPC64)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_ppc_64.config",
        "files": [
            "test/suites/api/test_object.c"
        ]
    },
    {
        "name": "test/suites/api/test_pack.c, little endian 32-bit (x86)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_x86_32.config",
        "files": [
            "test/suites/api/test_pack.c"
        ]
    },
    {
        "name": "test/suites/api/test_pack.c, little endian 64-bit (x86)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_x86_64.config",
        "files": [
            "test/suites/api/test_pack.c"
        ]
    },
    {
        "name": "test/suites/api/test_pack.c, big endian 32-bit (PPC32)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_ppc_32.config",
        "files": [
            "test/suites/api/test_pack.c"
        ]
    },
    {
        "name": "test/suites/api/test_pack.c, big endian 64-bit (PPC64)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_ppc_64.config",
        "files": [
            "test/suites/api/test_pack.c"
        ]
    },
    {
        "name": "test/suites/api/test_simple.c, little endian 32-bit (x86)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_x86_32.config",
        "files": [
            "test/suites/api/test_simple.c"
        ]
    },
    {
        "name": "test/suites/api/test_simple.c, little endian 64-bit (x86)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_x86_64.config",
        "files": [
            "test/suites/api/test_simple.c"
        ]
    },
    {
        "name": "test/suites/api/test_simple.c, big endian 32-bit (PPC32)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_ppc_32.config",
        "files": [
            "test/suites/api/test_simple.c"
        ]
    },
    {
        "name": "test/suites/api/test_simple.c, big endian 64-bit (PPC64)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_ppc_64.config",
        "files": [
            "test/suites/api/test_simple.c"
        ]
    },
    {
        "name": "test/suites/api/test_sprintf.c, little endian 32-bit (x86)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_x86_32.config",
        "files": [
            "test/suites/api/test_sprintf.c"
        ]
    },
    {
        "name": "test/suites/api/test_sprintf.c, little endian 64-bit (x86)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_x86_64.config",
        "files": [
            "test/suites/api/test_sprintf.c"
        ]
    },
    {
        "name": "test/suites/api/test_sprintf.c, big endian 32-bit (PPC32)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_ppc_32.config",
        "files": [
            "test/suites/api/test_sprintf.c"
        ]
    },
    {
        "name": "test/suites/api/test_sprintf.c, big endian 64-bit (PPC64)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_ppc_64.config",
        "files": [
            "test/suites/api/test_sprintf.c"
        ]
    },
    {
        "name": "test/suites/api/test_unpack.c, little endian 32-bit (x86)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_x86_32.config",
        "files": [
            "test/suites/api/test_unpack.c"
        ]
    },
    {
        "name": "test/suites/api/test_unpack.c, little endian 64-bit (x86)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_x86_64.config",
        "files": [
            "test/suites/api/test_unpack.c"
        ]
    },
    {
        "name": "test/suites/api/test_unpack.c, big endian 32-bit (PPC32)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_ppc_32.config",
        "files": [
            "test/suites/api/test_unpack.c"
        ]
    },
    {
        "name": "test/suites/api/test_unpack.c, big endian 64-bit (PPC64)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_ppc_64.config",
        "files": [
            "test/suites/api/test_unpack.c"
        ]
    },
    {
        "name": "test/suites/api/test_version.c, little endian 32-bit (x86)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_x86_32.config",
        "files": [
            "test/suites/api/test_version.c"
        ]
    },
    {
        "name": "test/suites/api/test_version.c, little endian 64-bit (x86)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_x86_64.config",
        "files": [
            "test/suites/api/test_version.c"
        ]
    },
    {
        "name": "test/suites/api/test_version.c, big endian 32-bit (PPC32)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_ppc_32.config",
        "files": [
            "test/suites/api/test_version.c"
        ]
    },
    {
        "name": "test/suites/api/test_version.c, big endian 64-bit (PPC64)",
        "include": "trustinsoft/common.config",
        "include": "trustinsoft/gcc_ppc_64.config",
        "files": [
            "test/suites/api/test_version.c"
        ]
    }
]