[
    { "name": "api: test_array", "include": "common.config", "files": [ "test/suites/api/test_array.c" ] },
    { "name": "api: test_chaos", "include": "common.config", "files": [ "test/suites/api/test_chaos.c" ] },
    { "name": "api: test_copy", "include": "common.config", "files": [ "test/suites/api/test_copy.c" ] },
    { "name": "api: test_dump_callback", "include": "common.config", "files": [ "test/suites/api/test_dump_callback.c" ] },
    { "name": "api: test_dump", "include": "common.config", "files": [ "test/suites/api/test_dump.c" ] },
    { "name": "api: test_equal", "include": "common.config", "files": [ "test/suites/api/test_equal.c" ] },
    { "name": "api: test_fixed_size", "include": "common.config", "files": [ "test/suites/api/test_fixed_size.c" ] },
    { "name": "api: test_load_callback", "include": "common.config", "files": [ "test/suites/api/test_load_callback.c" ] },
    { "name": "api: test_load", "include": "common.config", "files": [ "test/suites/api/test_load.c" ] },
    { "name": "api: test_loadb", "include": "common.config", "files": [ "test/suites/api/test_loadb.c" ] },
    { "name": "api: test_memory_funcs", "include": "common.config", "files": [ "test/suites/api/test_memory_funcs.c" ] },
    { "name": "api: test_number", "include": "common.config", "files": [ "test/suites/api/test_number.c" ] },
    { "name": "api: test_object", "include": "common.config", "files": [ "test/suites/api/test_object.c" ] },
    { "name": "api: test_pack", "include": "common.config", "files": [ "test/suites/api/test_pack.c" ] },
    { "name": "api: test_simple", "include": "common.config", "files": [ "test/suites/api/test_simple.c" ] },
    { "name": "api: test_sprintf", "include": "common.config", "files": [ "test/suites/api/test_sprintf.c" ] },
    { "name": "api: test_unpack", "include": "common.config", "files": [ "test/suites/api/test_unpack.c" ] },
    { "name": "api: test_version", "include": "common.config", "files": [ "test/suites/api/test_version.c" ] }
]
