[
    {
        "name": "test/suites/api/test_array.c",
        "include": "trustinsoft/common.config",
        "files": [
            "test/suites/api/test_array.c"
        ]
    },
    {
        "name": "test/suites/api/test_chaos.c",
        "include": "trustinsoft/common.config",
        "files": [
            "test/suites/api/test_chaos.c"
        ]
    },
    {
        "name": "test/suites/api/test_copy.c",
        "include": "trustinsoft/common.config",
        "files": [
            "test/suites/api/test_copy.c"
        ]
    },
    {
        "name": "test/suites/api/test_dump_callback.c",
        "include": "trustinsoft/common.config",
        "files": [
            "test/suites/api/test_dump_callback.c"
        ]
    },
    {
        "name": "test/suites/api/test_dump.c",
        "include": "trustinsoft/common.config",
        "files": [
            "test/suites/api/test_dump.c"
        ]
    },
    {
        "name": "test/suites/api/test_equal.c",
        "include": "trustinsoft/common.config",
        "files": [
            "test/suites/api/test_equal.c"
        ]
    },
    {
        "name": "test/suites/api/test_fixed_size.c",
        "include": "trustinsoft/common.config",
        "files": [
            "test/suites/api/test_fixed_size.c"
        ]
    },
    {
        "name": "test/suites/api/test_load_callback.c",
        "include": "trustinsoft/common.config",
        "files": [
            "test/suites/api/test_load_callback.c"
        ]
    },
    {
        "name": "test/suites/api/test_load.c",
        "include": "trustinsoft/common.config",
        "files": [
            "test/suites/api/test_load.c"
        ]
    },
    {
        "name": "test/suites/api/test_loadb.c",
        "include": "trustinsoft/common.config",
        "files": [
            "test/suites/api/test_loadb.c"
        ]
    },
    {
        "name": "test/suites/api/test_memory_funcs.c",
        "include": "trustinsoft/common.config",
        "files": [
            "test/suites/api/test_memory_funcs.c"
        ]
    },
    {
        "name": "test/suites/api/test_number.c",
        "include": "trustinsoft/common.config",
        "files": [
            "test/suites/api/test_number.c"
        ]
    },
    {
        "name": "test/suites/api/test_object.c",
        "include": "trustinsoft/common.config",
        "files": [
            "test/suites/api/test_object.c"
        ]
    },
    {
        "name": "test/suites/api/test_pack.c",
        "include": "trustinsoft/common.config",
        "files": [
            "test/suites/api/test_pack.c"
        ]
    },
    {
        "name": "test/suites/api/test_simple.c",
        "include": "trustinsoft/common.config",
        "files": [
            "test/suites/api/test_simple.c"
        ]
    },
    {
        "name": "test/suites/api/test_sprintf.c",
        "include": "trustinsoft/common.config",
        "files": [
            "test/suites/api/test_sprintf.c"
        ]
    },
    {
        "name": "test/suites/api/test_unpack.c",
        "include": "trustinsoft/common.config",
        "files": [
            "test/suites/api/test_unpack.c"
        ]
    },
    {
        "name": "test/suites/api/test_version.c",
        "include": "trustinsoft/common.config",
        "files": [
            "test/suites/api/test_version.c"
        ]
    }
]
